Repository kare/viite, changes with the labels that .github/labeler.yaml gives for each.
All labels: documentation, ci, test, build

.github/labeler.yaml:

---
documentation:
- changed-files:
  - any-glob-to-any-file:
    - "LICENSE*"
    - "*.md"
    - "**.md"
ci:
- changed-files:
  - any-glob-to-any-file:
    - ".github/*"
    - ".github/**"
test:
- changed-files:
  - any-glob-to-any-file:
    - "**/*_test.go"
build:
- changed-files:
  - any-glob-to-any-file:
    - ".gitignore"
    - "Makefile"
    - "go.*"
    - "release*.bash"
refactor:
- changed-files:
  - all-globs-to-all-files:
    - "**/*.go"
    - "!**/*_test.go"
feature:
  - head-branch: ['^feature']

build: bump Go from 1.19 to 1.20
  go.mod
Labels: build

test: remove example test for viite.Random() due to deprecation
  viite_test.go
Labels: test

build: bump Go from 1.20 to 1.23
  go.mod
Labels: build

ci: pass staticcheck version as parameter
  .github/workflows/ci.yaml
Labels: ci

ci: remove Dependabot reviewers
  .github/dependabot.yaml
Labels: ci

ci: bump staticcheck 2025.1.1
  .github/workflows/ci.yaml
Labels: ci
